{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block body %}

<section class="container min-vh-100 mt-4 pt-4">
    {% if products | length < 1 %}
        <div class="alert alert-secondary text-center" role="alert">
            No Items Match your Search query
        </div>

    {% else %}
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 gy-4">
        {% for product in products %}
        <div class="col">
            <div class="card d-flext justify-content-between px-2 h-100 shadow-sm border-0">
                <a href="{{ url_for('views.product_detail', product_id=product.id) }}">
                    <img src="{{ product.product_picture }}" alt="{{ product.product_name }}" class="card-img-top" style="height: 190px; object-fit: cover;">
                    <div class="card-body p-2">
                        <h6 class="card-title small mb-2">{{ product.product_name }}</h6>
                        <p class="card-text mb-1 text-muted fw-bold">{{ product.price }} OMR</p>
                        <p class="card-text mb-1 text-muted small fw-bold">{{product.in_stock}} product Left</p>
                    </div>
                </a>
                <div class="card-footer border-0 bg-white px-2">
                    <a href="/add_to_cart/{{ product.id }}" class="btn btn-outline-dark btn-sm" >Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock %}